#full-width-tabpanel-0, #full-width-tabpanel-1 {
    background-color: white;
    float: right;
    width: 60%;
    height: calc(100% - 48px);
    .MuiBox-root-16 {
        width: 100%
    }
}
button.MuiTab-fullWidth {
    flex-grow: unset;
}
div.MuiTabs-flexContainer {
    justify-content: flex-start;
    flex-direction: row-reverse;
}
header.MuiAppBar-colorDefault {
    background-color: lightgray;
}
.MuiTab-textColorPrimary.Mui-selected {
    background: lightblue;
    border: 2px solid;
}